{
  "useTabs": false, 
  "printWidth": 80, 
  "tabWidth": 2, 
  "singleQuote": true, 
  "bracketSpacing": false,
  "backtickQuote": true, 
  "trailingComma": "es5", 
  "jsxBracketSameLine": false, 
  "parser": "flow", 
  "semi": true,
  "arrowParens": "always"
}
